################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/necpp_20050915/win32/nec2++/Debug
/necpp_20050915/win32/nec2++/.vs/nec2++/v14
/necpp_20050915/win32/nec2++/ipch/nec2++-e687e140
/necpp_20050915/win32/nec2++
